
interface range {{interface}}
description {{description}}
switchport mode trunk
switchport nonegotiate
udld port aggressive
ip dhcp snooping trust
channel-group 1 mode active
service-policy output 2P6Q3T
!